.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 14px !important;
  line-height: 20px !important;
}
.wmde-markdown pre {
  font-size: 90%;
}
[data-color-mode*='dark'] .wmde-markdown,
[data-color-mode*='dark'] .wmde-markdown-var,
.wmde-markdown-var[data-color-mode*='dark'],
.wmde-markdown[data-color-mode*='dark'],
body[data-color-mode*='dark'] {
  --color-canvas-default: #1e1e1e;
  --color-border-default: #595959;
  --color-border-muted: #595959;
}
.w-md-editor {
  border-radius: 4px;
}
.w-md-editor-toolbar {
  border-radius: 4px 4px 0 0;
}
