# Next.js build dir
.next

package-lock.json
.idea

# dotenv environment variables file
.env
.env.*
!.env.defaults
!.env.sample

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# distribution
dist

# db
data.db
test.db

# storage
uploads/

# Coverage
coverage

### docs

# sitemap
docs/public/robots.txt
docs/public/sitemap*.xml

### plugins

# storybook
packages/**/.storybook
