@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Noto Sans', 'Noto Sans JP', '-apple-system', 'system-ui', 'sans-serif', 'Roboto',
    'Helvetica', 'Meiryo';
}

.rayContainer {
  --gradient-opacity: 0.85;
  --ray-gradient: radial-gradient(
    rgba(83, 196, 255, var(--gradient-opacity)) 0%,
    rgba(43, 166, 255, 0) 100%
  );
  transition: opacity 0.25s linear;
  position: fixed;
  top: 0;
  inset: 0;
  pointer-events: none;
  user-select: none;
}

.lightRay {
  position: absolute;
  border-radius: 100%;
  width: 480px;
  height: 680px;
  transform: rotate(80deg);
  top: -540px;
  left: 40%;
  filter: blur(110px);
  z-index: 9999;
  background-color: rgba(204, 204, 204, 0.6);
}

.copyTextarea {
  position: absolute;
  opacity: 0;
  border: none;
  pointer-events: none;
  user-select: none;
  width: 0;
  height: 1px;
}

.zero-h-br {
  line-height: 0;
  display: block;
}

a {
  transition: all 0.3s ease-in-out;
}

.link-underline {
  position: relative;
  display: inline-block;

  &:hover::after {
    transform: scaleX(1);
  }
}

.link-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2em;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: transform 0.2s ease-in-out;
  transform: scaleX(0);
  transform-origin: center;
}

.logo {
  mask-image: linear-gradient(60deg, black 25%, rgba(0, 0, 0, 0.2) 50%, black 75%);
  mask-size: 400%;
  mask-position: 0%;

  &:hover {
    mask-position: 100%;
    transition:
      mask-position 1s ease,
      -webkit-mask-position 1s ease;
  }
}
