.tiptap {
  /* > * + * {
    margin-top: 0.75em;
  } */

  font-size: 1rem;

  ul,
  ol {
    padding: 0 1rem;
    line-height: 1.85;
  }

  ul p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  h2 + * {
    margin-top: 1.5em !important;
  }

  p {
    margin: 1.9em 0;
    line-height: 2.05;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  &:focus-visible {
    outline: none;
  }

  p.is-editor-empty:first-child::before {
    color: rgb(38, 38, 38, 0.45);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  h2,
  h3 {
    font-weight: normal;
    font-size: 1.15em;
    line-height: 1.7;
  }

  h2.heading {
    padding: 0.45em 0;
    border-bottom: 1px solid;
    border-color: #f0f0f0;
  }

  h3.heading + h3.heading {
    margin-top: 1em;
  }

  .heading {
    margin: 3em 0 0;
  }
}
