.ProseMirror {
  outline: 0;
  z-index: 0;
  font-size: 1rem;

  & > :first-child {
    margin-top: 0;
  }

  & > *:first-child,
  [data-type='column'] > * {
    margin-top: 0;
    margin-bottom: 0;
    @apply first:mt-0 last:mb-0;
  }

  & > * + * {
    margin-top: 0.75em;
  }

  &:focus-visible {
    outline: none;
  }

  .selection {
    display: inline;
  }

  & > .react-renderer {
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.resize-cursor {
    cursor: col-resize;
  }

  [data-type='horizontalRule'] {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  .is-empty::before {
    @apply text-neutral-500;
  }

  .node-imageUpload {
    @apply rounded border-2 border-dotted border-black/10 p-2;
    transition: border 160ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:hover {
      @apply border-black/30;
    }

    &:has(.is-active),
    &.has-focus {
      @apply border-black/40;
    }
  }

  [data-type='columns'] {
    &.has-focus [data-type='column'],
    &:hover [data-type='column'] {
      @apply border-neutral-300;
    }

    [data-type='column'].has-focus {
      @apply border-neutral-400;
    }
  }

  [data-type='column'] {
    @apply rounded border-2 border-dotted border-transparent p-1;
    transition: border 160ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:hover {
      @apply border-neutral-100;
    }

    &:has(.is-active),
    &.has-focus {
      @apply border-neutral-100;
    }
  }

  .node-imageBlock {
    & img {
      @apply border-2 border-transparent rounded-xl overflow-hidden;
    }

    &:hover img {
      @apply border-2 border-neutral-100;
    }

    &:has(.is-active) img,
    &.has-focus img {
      @apply border-2 border-neutral-800;
    }
  }

  .node-aiWriter,
  .node-aiImage,
  .node-tableOfContentsNode {
    &.has-focus [data-node-view-wrapper] > * {
      @apply shadow-[0_0_0_2px] shadow-black/30 transition-all rounded-lg;
    }
  }

  .ProseMirror-gapcursor + .node-imageBlock,
  .ProseMirror-gapcursor + .node-imageUpload,
  .ProseMirror-gapcursor + [data-type='blockquoteFigure'] {
    @apply outline-neutral-700 hover:outline-neutral-600;
  }
}
