.ProseMirror {
  figure[data-type='imageBlock'] {
    margin: 0;

    img {
      border-radius: 0.25rem;
      display: block;
      width: 100%;
    }
  }

  blockquote {
    margin: 1.5rem auto;
    border-left-width: 3px;
    padding: 0 1rem;
    --tw-bg-opacity: 0.8;
    border-left-color: #374151;
  }
}
