.ProseMirror {
  outline: 0;
  z-index: 0;
  font-size: 1rem;

  & > *:first-child,
  [data-type='column'] > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: 0.75em;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
  }

  h1 {
    margin-bottom: 1.8em;
    font-size: 1.875em;
    line-height: 1.25em;
  }

  h2 {
    margin-bottom: 1.6em;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  h3 {
    margin-bottom: 1.6em;
    font-size: 1.3em;
    line-height: 1.3em;
  }

  p {
    line-height: 1.625em;
    margin: 1.9em auto;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul,
  ol {
    margin: 1.9em auto;
    padding: 0 1rem;
    line-height: 1.85;

    li {
      padding-left: 0.2em;
      margin: 0.5em 0;
    }

    p {
      margin: 0;
    }
  }

  hr {
    margin: 0;
    height: 0;
    color: inherit;
  }

  &:focus-visible {
    outline: none;
  }

  .selection {
    display: inline;
  }

  & > .react-renderer {
    margin-top: 3rem;
    margin-bottom: 3rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.resize-cursor {
    cursor: col-resize;
  }

  .ProseMirror-gapcursor {
    position: relative;
    width: 100%;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;

    &:after {
      border-top-color: rgba(0, 0, 0, 0.4);
      border-top-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      top: -1.5em;
      max-width: 42rem;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}

.ProseMirror > :first-child {
  margin-top: 0;
}

@import './partials/placeholder.css';
