.languageSwitch {
  display: flex;
  flex-direction: column;
  width: 124px;
}

.languageSwitchList {
  display: flex;
  color: #fff;
}

.languageSwitchTrigger {
  font-family: 'Noto Sans JP';
  flex: 1;
  padding: 10px 21px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}

.languageSwitchTrigger[data-state='inactive'] {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
}

.languageSwitchTrigger[data-state='active'] {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
